@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}
/*Head part */
.head img{
     width: 556.01px;
     height: 438px;
}
.first:hover .img{
    transform: scale(1.5);
    transition: 1.5s;
}
.first{
    background-color: rgba(4, 4, 121, 0.856);  
    overflow: hidden; width: 1160px;
}
.head{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 153px;
    margin-right: 140px;
    margin-left: 156px;
    
    margin-left: 156px;
}
.head h1{
    color: #FFFFFF;
    font-size: 64px;
}
.icon{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 24px;
    font-size: 15px;
    width: 168px;
    height: 44px;
    margin-top: 27px;
    background: #E02C6D;
    color: white;
}
/*Main part */
.player_pic{
    width: 300px;
    height: 226px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    align-items: center;
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 210px;
}
.player{
    width: 330px;
    height: 474px;
    margin-right: 30px;
    margin-bottom: 27px;
    background-color: #FFFFFF;
}
/* bonus part */
.bonus_section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    
}
.bonus{
    margin-right: 20px;
    margin-left:20px;
border: 5px solid orchid;
color: rgb(207, 16, 144);
}
/* footer part */
.foot{
    width: 483px;
    height: 213px;
    text-align: center;
    margin-left: 495px;
    margin-right: 461px;
}
/* -----------
Media Queries
------------- */

/*----Mobile Devices------*/
@media only screen and (max-width:688px) {
    .head img{
        width: 329px;
        height: 259px;
   }
   .first{
    background-color: rgba(4, 4, 121, 0.856);  
        width: 556.01px;
   }
   .head{
     display: grid;
    grid-template-columns: repeat(1, 1fr);
   }
   .players{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
    width: 330px;
    left: 14px;
    top: 1240px;
    padding: 15px;
   }
   .bonus_section{
    margin-left: 150px;
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 50px;
    width: 100px;
    
}
   .foot{
       width: 236px;
    margin-left:200px;

   }
   .foot img{
       width: 250px;
       margin-left: 10px;
   }
}